<!-- <h1>
	QUIZ SUMMARY HERE
	<ul>
		<li ng-repeat="x in tops"> {{x.nickname}} </li>
	</ul>

	<button ng-click="returnHome()">GO BACK HOME</button>
</h1> -->

<main class="h-100">
	<div class="container-fluid px-0 h-100">

		<div class="d-flex flex-column h-100">

			<!-- Header -->
			<div class="w-100 shadow-sm position-fixed" style="height: 67px; z-index: 99; background-color: 
					#594083;">
				<div class="container-fluid h-100">
					<div class="row px-5" style="height: 67px;">
						<div class="col-sm-6 d-flex mx-auto col-md-6 justify-content-center align-items-center position-relative h-100">
							<h4 class="mb-0 text-white">Quiz Summary</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="w-100 bg-white position-fixed">
				<div class="p-4">
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 25%"></div>
					</div>
				</div>
			</div>

			<!-- Contents -->
			<div style="height: 100vh; background-color: #966cda;">
				<!-- Question -->
				<div class="container" style="height: 86vh; margin: 0 auto; margin-top: 14vh;">
					<div class="row no-gutters" style="height: 86vh; min-height: 60vh;">

						<div class="col-md-10 mx-auto mt-4">
							<div class="h-auto bg-white">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">Name</th>
											<th scope="col">Score</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="xxx in tops">
											<th scope="row">{{xxx.nickname}}</th>
											<td>{{xxx.points}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="d-flex justify-content-center">
								<button ng-click="returnHome()" class="btn btn-warning mr-1">GO BACK HOME</button>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>

	</div>
</main>