<!-- New Quiz Modal -->
<div class="modal fade" id="newQuiz-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog mb-5">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header align-items-center py-3 px-4" style="background-color: #f8fafd;">
                <h4 id="modalTitle" class="h6 mb-0">Add New Quiz</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <!-- End Header -->

            <!-- Contents -->
            <div class="modal-body p-4">
                <form name="form">

                    <!-- Alert -->
                    <div class="alert alert-danger alert-dismissible fade show" ng-show="error1">
                        {{error1}}
                        <button type="button" class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                    </div>
                    <p ng-show="form.quizTitle.$error.minlength" class="alert alert-danger alert-dismissible fade show">Title
                        must be atleast 5 characters</p>
                    <p ng-show="form.quizTitle.$error.maxlength" class="alert alert-danger alert-dismissible fade show">Title
                        exceeds to the maximum length</p>
                    <p ng-show="form.description.$error.minlength" class="alert alert-danger alert-dismissible fade show">Description
                        is too short, minimum length is 10</p>
                    <p ng-show="form.description.$error.maxlength" class="alert alert-danger alert-dismissible fade show">Description
                        exceeds to the maximum length</p>
                    <p ng-show="form.duration.$error.maxlength" class="alert alert-danger alert-dismissible fade show">Duration
                        exceeds to the maximum length</p>
                    <p ng-show="form.tags-input.$error.maxlength" class="alert alert-danger alert-dismissible fade show">Tag
                        Name has a maximum length of 10</p>
                    <!-- End Alert -->

                    <!-- Quiz Title -->
                    <div class="mb-3">
                        <label class="d-block small text-uppercase font-weight-bold" style="letter-spacing: 0.1em;">Quiz
                            Title</label>
                        <div class="input-group input-group-lg">
                            <input type="text" id="text_title" class="form-control" placeholder="The Lion King" name="quizTitle"
                                ng-minlength="5" ng-maxlength="90" ng-model="quizTitle" required>
                            <div class="text-remaining-indicator align-self-center" id="text_feedback-title"></div>
                        </div>
                    </div>
                    <!-- End Quiz Title -->

                    <!-- Quiz Description -->
                    <div class="mb-3">
                        <label class="d-block small text-uppercase font-weight-bold" style="letter-spacing: 0.1em;">Quiz
                            Description</label>
                        <div class="input-group input-group-lg">
                            <textarea type="text" id="text_desc" class="form-control" placeholder="Add a description"
                                rows="4" name="description" ng-minlength="10" ng-maxlength="250" ng-model="quizDesc"
                                style="height: 100px;" required></textarea>
                            <div class="text-remaining-indicator align-self-center" id="text_feedback-desc"></div>
                        </div>
                    </div>
                    <!-- End Quiz Description -->

                    <!-- Quiz Image -->
                    <div class="mb-3">
                        <label class="d-block small text-uppercase font-weight-bold" style="letter-spacing: 0.1em;">Image</label>
                        <div class="custom-file">
                            <input type="file" accept="image/*" class="custom-file-input" file-input="files">
                            <label class="custom-file-label">Choose image</label>
                        </div>
                    </div>
                    <!-- End Quiz Image -->

                    <!-- Quiz Mode -->
                    <div class="mb-3">
                        <label class="d-block small text-uppercase font-weight-bold" style="letter-spacing: 0.1em;">Quiz
                            Mode</label>
                        <label class="btn btn-primary opt-quizMode active">
                            <input id="opt-freeflow" ng-checked="checkDefault" type="radio" name="quizMode"
                                autocomplete="off" ng-model="typeNewQuiz" ng-value="'Freeflow'" style="visibility: hidden;"
                                selected> Freeflow
                        </label>
                        <label class="btn btn-primary opt-quizMode">
                            <input id="opt-segments" type="radio" name="quizMode" autocomplete="off" ng-model="typeNewQuiz"
                                ng-value="'Segment'" style="visibility: hidden;"> Segments
                        </label>
                    </div>

                    <!-- Freeflow Selected -->
                    <div class="row no-gutters" id="freeflowOptions">

                        <!-- Question Type Selection -->
                        <div class="col-md-6 pr-1">
                            <label class="d-block small text-uppercase font-weight-bold" style="letter-spacing: 0.1em;">Question
                                Type</label>
                            <select class="form-control" ng-model="typeName" required>
                                <option disabled hidden value="">Question Types</option>
                                <option>Multiple Choice</option>
                                <option>True or False</option>
                                <option>Guess the Word</option>
                                <option>Arrange the Sequence</option>
                            </select>
                        </div>
                        <!-- End Question Type Selection -->

                        <!-- DROPDOWN DURATION -->
                        <div class="mb-3">
                            <label class="d-block small text-uppercase font-weight-bold" style="letter-spacing: 0.1em;">Duration
                                per question</label>
                            <select class="form-control" ng-model="duration" required>
                                <option disabled hidden value="">Duration per second</option>
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                                <option>60</option>
                                <option>120</option>
                            </select>
                        </div>
                        <!-- DURATION -->
                    </div>
                    <!--PASSING RATE-->
                    <div class="mb-3">
                        <label class="d-block small text-uppercase font-weight-bold" style="letter-spacing: 0.1em;">Passing
                            Rate Percentage</label>
                        <div class="input-group input-group-lg">
                            <input type="text" id="text_title" class="form-control" numbers-only="numbers-only" name="passingRate"
                                ng-minlength="0" ng-maxlength="3" ng-model="passingRate" required>
                            <div class="text-remaining-indicator align-self-center" id="text_feedback-title"></div>
                        </div>
                    </div>
                    <!-- END PASSSING RATE-->
                    <!-- End Freeflow Selected -->
                    <!-- End Quiz Mode -->
                    <div class="form-group text-right">
                        <button class="btn btn-primary btn-rounded fnt-btn fnt-primary" type="submit" data-dismiss="modal"
                            ng-disabled="sform.$invalid" ng-click="addNewQuiz(MaxID)">
                            Add New Quiz
                        </button>
                        <button class="btn btn-outline-light btn-rounded" type="button" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>

                </form>
            </div>
            <!-- End Contents -->

        </div>
    </div>
</div>


<!-- Edit Quiz Modal -->
<div class="modal fade" id="editQuiz-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header align-items-center py-3 px-4" style="background-color: #f8fafd;">
                <h4 id="modalTitle" class="modal-title h6 mb-0">Edit Quiz</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <!-- End Header -->

            <!-- Contents -->
            <div class="modal-body p-4">
                <form name="myForm">

                    <!-- Alert -->
                    <div class="alert alert-danger alert-dismissible fade show" ng-show="error">
                        All fields are required
                        <button type="button" class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                    </div>
                    <!-- End Alert -->

                    <!-- Quiz Title -->
                    <div class="mb-3">
                        <label class="d-block small text-uppercase font-weight-bold" style="letter-spacing: 0.1em;">Quiz
                            Title</label>
                        <div class="input-group input-group-lg">
                            <input type="text" id="edit-text_title" class="form-control" placeholder="The Lion King"
                                ng-model="quizTitle" required>
                            <div class="text-remaining-indicator align-self-center" id="text_feedback-edit-title"></div>
                        </div>
                    </div>
                    <!-- End Quiz Title -->

                    <!-- Quiz Description -->
                    <div class="mb-3">
                        <label class="d-block small text-uppercase font-weight-bold" style="letter-spacing: 0.1em;">Quiz
                            Description</label>
                        <div class="input-group input-group-lg">
                            <textarea type="text" id="edit-text_desc" class="form-control" placeholder="Add a description"
                                rows="4" ng-model="quizDesc" style="height: 100px;" required></textarea>
                            <div class="text-remaining-indicator align-self-center" id="text_feedback-edit-desc"></div>
                        </div>
                    </div>
                    <!-- End Quiz Description -->

<!-- Quiz Image -->
                    <div class="mb-3">
                        <label class="d-block small text-uppercase font-weight-bold" style="letter-spacing: 0.1em;">Image</label>
                        <div class="custom-file">
                            <input type="file" accept="image/*" class="custom-file-input" file-input="files">
                            <label class="custom-file-label">Choose image</label>
                        </div>
                    </div>
                    <!-- End Quiz Image -->

                    <!-- Buttons -->
                    <div class="form-group text-right">
                        <button class="btn btn-primary btn-rounded fnt-btn fnt-primary" type="button" ng-disabled="myForm.$invalid"
                            ng-click="updateQuiz(quizID, quizTitle, quizDesc)">
                            Save
                        </button>
                        <button class="btn btn-outline-light btn-rounded" type="button" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                    <!-- End Buttons -->

                </form>
            </div>

        </div>
    </div>
</div>

<!-- Share Quiz Modal -->
<div class="modal fade" id="shareQuiz-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog mb-5">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header align-items-center py-3 px-4" style="background-color: #f8fafd;">
                <h4 id="modalTitle" class="modal-title h6 mb-0">Share Quiz</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <!-- End Header -->

            <!-- Contents -->
            <div class="modal-body p-4">

                <!-- Professor List -->
                <div class="row no-gutters">
                    <div class="col-12 d-flex flex-column mb-4" ng-repeat="fname in fullname | filter:admSearch">
                        <div class="d-flex justify-content-between align-items-center mb-0">
                            <p class="mb-0">{{fname.username}}</p>
                            <button class="btn btn-success btn-rounded fnt-btn fnt-success" data-toggle="collapse"
                                data-target="#share_ability_{{fname.id}}">
                                <i class="far fa-eye"></i>
                                <span class="d-md-inline-block d-sm-none">SHARE</span>
                            </button>
                        </div>

                        <!-- DROPDOWNNNNNNN CHOICES-->
                        <div class="collapse" id="share_ability_{{fname.id}}" data-parent="#shareQuiz-modal">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="dep_{{fname.id}}" class="custom-control-input" data-toggle="collapse"
                                    data-target="#confirmation" autocomplete="off" ng-model="shareAbility" ng-value="'1'">
                                <label class="custom-control-label" for="dep_{{fname.id}}">Deploy only</label>
                            </div>

                            <div class="custom-control custom-radio">
                                <input type="radio" id="sha_{{fname.id}}" class="custom-control-input" data-toggle="collapse"
                                    data-target="#confirmation" autocomplete="off" ng-model="shareAbility" ng-value="'2'">
                                <label class="custom-control-label" for="sha_{{fname.id}}">Shareable</label>
                            </div>

                            <div class="collapse mt-2" id="confirmation">
                                <button ng-click="shareQuiz(quiz_id,fname.id,max_id,totality,part_id,quizOwner,shareAbility)"
                                    class="btn btn-primary btn-rounded fnt-btn fnt-primary">
                                    <span class="d-md-inline-block d-sm-none">Continue</span>
                                </button>
                                <button class="btn btn-outline-light btn-rounded" type="button" data-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Professor List -->

        </div>
        <!-- End Contents -->

    </div>
</div>
<!-- Delete Quiz Modal -->
<div class="modal fade" id="deleteQuiz-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content h-auto">

            <!-- Header -->
            <div class="modal-header align-items-center py-3 px-4" style="background-color: #f8fafd;">
                <h4 id="modalTitle" class="modal-title h6 mb-0">Delete Quiz</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <!-- End Header -->

            <!-- Contents -->
            <div class="modal-body p-4">
                <p>This will delete the quiz and it's content.</p>

                <div class="form-group text-right">
                    <button class="btn btn-primary btn-rounded fnt-btn fnt-primary" type="button" ng-click="deletequizzes(quizID)">
                        Okay
                    </button>
                    <button class="btn btn-outline-light btn-rounded" type="button" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
        <!-- End Contents -->

    </div>
</div>
</div>

<!-- Play Quiz Modal -->
<div class="modal fade" id="playQuiz-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog mb-5">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header align-items-center py-3 px-4" style="background-color: #f8fafd;">
                <h4 id="modalTitle" class="modal-title h6 mb-0">Sections</h4>
                <button type="button" class="close" data-dismiss="modal" ng-click="overwrite = false">
                    <span>&times</span>
                </button>
            </div>
            <!-- End Header -->

            <!-- Contents -->
            <div class="modal-body p-4">

                <!-- Search Bar -->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search Section">
                </div>

                <!-- Professor List -->
                <div class="row no-gutters">
                    <!-- ng-repeat here -->
                    <div class="col-12 d-flex flex-column mb-3" ng-repeat="xxx in allHandled">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="mb-0">{{xxx.section}}</p>
                            <button ng-click="takerChecker(xxx.section_id)" class="btn btn-success btn-rounded fnt-btn fnt-success"
                                ng-hide="quizoverlap == xxx.section_id">Select</button>
                        </div>

                        <div class="card card-body border my-3" ng-show="quizoverlap == xxx.section_id">
                            <p class="mb-0">There is a previous record of this quiz on this section. Overwrite record?</p>
                            <p class="text-right mb-0">
                                <button class="btn btn-primary btn-rounded fnt-btn fnt-primary" ng-click="clearPreviousQuiz(xxx.section_id)">Yes</button>
                                <button class="btn btn-outline-light btn-rounded" ng-click="clearOverlap()">No</button>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Professor List -->

            </div>
            <!-- End Contents -->

        </div>
    </div>
</div>

<!--TAGS M0DAL-->
<div class="modal fade" id="addtoCollection-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h4 class="modal-title text-qznprimary">Add to Collections</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form name="myForm">
                    <div class="alert alert-danger alert-dismissible fade show" ng-show="error">
                        {{error.error}}
                        <button type="button" class="close" data-dismiss="alert" ng-click="error = null">
                            <span>&times;</span>
                        </button>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search a folder..." ng-model="searchFolder">
                    </div>

                    <div id="prof-chk__container">
                        <div class="custom-control custom-checkbox" ng-repeat="folder in folders | filter: searchFolder"
                            ng-show="folders">
                            <!-- Yung id ng prof palagay sa id attribute saka sa for ng label -->
                            <input type="checkbox" class="custom-control-input" id="{{folder.tag_id}}" checklist-change="addMeToList(tagIDS[$index])"
                                checklist-model="selected.key" checklist-value="tagIDS[$index]">
                            <label for="{{folder.tag_id}}" class="custom-control-label">{{folder.tag_name}}</label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <p class="text-right">
                    <button class="btn btn-primary btn-rounded fnt-btn fnt-primary" ng-click="addTagzzz()">Add</button>
                    <button class="btn btn-outline-light btn-rounded" data-dismiss="modal">Cancel</button>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Redesign -->
<main class="mb-3" style="margin-left: 270px;">
    <div class="container qzn-pt-5--md qzn-pt-4--lg">

        <!-- Title Container -->
        <div class="w-lg-95 mx-auto mb-3 d-flex justify-content-between align-items-center">
            <!-- Title -->
            <h3 class="font-weight-bold mb-0 ml-3">{{tagName}}</h3>

            <!-- Button -->
            <div class="d-flex mr-3">
                <div class="input-group mx-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white" style="border-radius: 50px 0 0 50px;">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control border-left-0" style="border-radius: 0 50px 50px 0;"
                        placeholder="Search quiz..." ng-model="admSearch">
                </div>
                <button class="btn btn-primary btn-rounded fnt-btn fnt-primary px-3" data-toggle="modal" data-target="#newQuiz-modal"
                    ng-click="getQuizID(quizInfo[0].MaxID)"><i class="far fa-plus-square"></i> Add New Quiz</button>
            </div>
        </div>
        <!-- End Title Container -->

        <!-- Quizzes -->
        <div class="w-lg-95 mx-auto mt-4">

            <!-- Quiz Label -->
            <label class="h6 d-block mx-3 text-secondary text-uppercase small font-weight-bold" style="letter-spacing: 0.1em;">Quizzes</label>

            <!-- Quizzes -->
            <div class="row no-gutters card-deck">
                <div class="col-4 card mb-4" style="max-width: calc(33.33% - 2rem); width: calc(33.33% - 2rem);"
                    ng-repeat="QTI in quizTagInfo |filter:admSearch">
                    <a ng-href="#!/viewparts/{{QTI.QuizID}}/{{QTI.PartType}}">
                        <img src="{{QTI.Filepath}}" alt="{{QTI.Filepath}}" class="card-img-top">
                    </a>
                    <div class="card-body px-3 pt-2 pb-0">

                        <!-- Dropdown -->
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="d-block text-muted">{{QTI.DateCreated}}</small>

                            <div class="position-relative">
                                <div class="dropdown">
                                    <button class="btn btn-sm dropdown-toggle btn-rounded border" data-toggle="dropdown"
                                        data-offset="0,5" style="background-color: transparent;"><i class="fas fa-ellipsis-h"></i></button>
                                    <div class="dropdown-menu dropdown-menu-right">

                                        <!-- Dropdown Options -->
                                        <button ng-click="getQuizData(QTI.QuizID)" data-toggle="modal" data-target="#editQuiz-modal"
                                            class="dropdown-item">
                                            <i class="far fa-edit"></i> Edit
                                        </button>

                                        <button ng-click="getQuizData(QTI.QuizID)" data-toggle="modal" data-target="#deleteQuiz-modal"
                                            class="dropdown-item">
                                            <i class="far fa-trash-alt"></i> Delete
                                        </button>

                                        <a ng-href="#!/published/{{QTI.QuizID}}/{{QTI.PartType}}" class="dropdown-item">
                                            <i class="far fa-arrow-alt-circle-up"></i> Publish
                                        </a>

                                        <button ng-init="adminList()" ng-click="getQuizData(QTI.QuizID,quizTagInfo[0].MaxID)"
                                            data-toggle="modal" data-target="#shareQuiz-modal" class="dropdown-item">
                                            <i class="far fa-share-square"></i> Share
                                        </button>
                                        <button data-toggle="modal" class="dropdown-item" ng-click="removeTag(tagID, QTI.QuizID, 1)">
                                            <i class="far fa-minus-square"></i> Remove to {{tagName}}
                                        </button>
                                        <button data-toggle="modal" class="dropdown-item" ng-click="removeTag(tagID, QTI.QuizID, 2)">
                                            <i class="far fa-minus-square"></i> Remove to all folders
                                        </button>
                                        <button ng-init="adminList()" ng-click="passQuizID(QTI.QuizID)" data-toggle="modal"
                                            data-target="#addtoCollection-modal" class="dropdown-item">
                                            <i class="far fa-share-square"></i> Add to other folders
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Dropdown -->

                        <!-- Title -->
                        <h5 class="font-weight-bold text-secondary mb-0" style="display: block; line-clamp: 2; overflow: hidden; text-overflow: ellipsis;">
                            <a ng-href="#!/viewparts/{{QTI.QuizID}}/{{QTI.PartType}}" style="min-height: 1.75rem; max-height: 3.5rem; font-size: 1.125rem; line-height: 1.75rem; display: block; text-overflow: ellipsis;"
                                class="text-dark">{{QTI.QuizTitle}}</a>
                        </h5>
                        <!-- End Title -->

                        <!-- Owner -->
                        <small ng-if="QTI.quizOwner != ''">
                            <span class="text-secondary">Shared by: </span> {{QTI.quizOwner}}
                        </small>
                        <!-- End Owner -->
                    </div>

                    <div class="card-footer bg-white border-top-0 pb-3">
                        <button class="btn btn-success btn-block btn-rounded fnt-btn fnt-success" style="bottom: 0; left: 0;"
                            data-toggle="modal" data-target="#playQuiz-modal" ng-click="searchHandled(QTI.QuizID)">
                            <i class="far fa-play-circle"></i> Play
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Quizzes -->

        <!-- Pagination -->
        <ul uib-pagination total-items="quizTagInfo.length" ng-model="tagPage" items-per-page="pageSize" max-size="5"
            class="pagination-md justify-content-center" ng-show='quizTagInfo.length > 0' boundary-links="true"
            force-ellipses="true"></ul>

    </div>
</main>