<html>
    <head>
        <title>
            WAITING...
        </title>
    </head>
    <body ng-app="ongame" ng-controller="waitingCtrl">
        <h1>WAITING...lol</h1>
        Quiz Name :<input type="text" name="" ng-model="qName"> <br/>
        Section :<input type="text" name=""> <br/>
        <input type="button" id="sendMe" ng-click="sendMe()" value="Host This Quiz">
    </body>
    
    <script src="js/socket.io.js"></script>
    <script src="import/js/angular.min.js"></script>
    <script src="./import/js/angular-route-min.js"></script>
    <script src="js/angular-on-game.js"></script>
    <script src="js/angular-socket-io-master/socket.js"></script>
    <script src="js/mySocket.js"></script>  
        
</html> 