<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../src/css/main.css" type="text/css">
    <link rel="stylesheet" href="../src/fontawesome/css/all.css">
    <script src="../src/js/angular.min.js"></script>
    <script type="text/javascript" src="../src/js/angular-route.min.js"></script>
    <script src="../src/js/angular_controllers.js"></script>
    <script type="text/javascript" src="../src/js/angular-my-services.js"></script>
    <script type="text/javascript" src="../src/js/ngStorage.js"></script>

    <title>Dean</title>
</head>

<body>

    <div id="wrapper">
        <!-- Redesign -->
        <div class="d-flex align-items-center position-relative h-100">
            <header class="position-absolute w-100" style="top: 0; right: 0; left: 0; z-index: 2;">

                <!-- Navbar -->
                <nav class="d-flex justify-content-between align-items-center">
                    <!-- Logo -->
                    <div class="col-lg-5 col-xl-4 px-0 text-left text-lg-center">
                        <a href="landing.html" class="d-inline-block p-4 p-sm-4 p-md-4">
                            <img src="../admin/images/game-controller-white.png" alt="Logo" class="d-none d-lg-inline-block">
                            <img src="../admin/images/game-controller (2).png" alt="Logo" class="d-inline-block d-lg-none">
                        </a>
                    </div>

                    <!-- Button -->
                    <div class="p-4 p-sm-4 p-md-4">
                        <a href="#!/home" class="btn btn-primary">Login</a>
                    </div>
                </nav>

            </header>

            <div class="col-lg-5 col-xl-4 d-none d-lg-flex align-items-center h-100 px-0 bg-primary">
                <div class="container">
                    <div class="col-lg-11 text-center mx-auto">
                        <h3 class="text-white">Quizzen</h3>
                        <h4 class="text-white">A mobile and Web Quiz Builder</h4>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 pt-7">

                        <!-- Form -->
                        <form name="myForm" class="mt-5">
                            <!-- Title -->
                            <div class="mb-5">
                                <h2 class="h3 text-primary mb-0">Hello <span class="font-weight-bold">{{fname}}
                                        {{lname}}!</span></h2>
                                <p class="text-secondary">Create your Quizzen account.</p>
                            </div>

                            <!-- Error -->
                            <p class="text-qzndanger mb-3">{{error.error}}</p>

                            <!-- Inputs -->
                            <div class="mb-4">
                                <label class="h6 d-block text-uppercase small font-weight-bold" style="letter-spacing: 0.1em;">Username</label>
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control" ng-model="username"
                                        tabindex="1" required>
                                </div>
                            </div>

                            <div class="mb-4">
                                <label class="h6 d-block text-uppercase small font-weight-bold" style="letter-spacing: 0.1em;">Password</label>
                                <div class="input-group input-group-lg">
                                    <input type="password" class="form-control" ng-model="password1"
                                        tabindex="2" required>
                                </div>
                            </div>

                            <div class="mb-4">
                                <label class="h6 d-block text-uppercase small font-weight-bold" style="letter-spacing: 0.1em;">Re-type
                                    Password</label>
                                <div class="input-group input-group-lg">
                                    <input type="password" class="form-control" ng-model="password2"
                                        tabindex="3" required>
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="row align-items-center mb-5">
                                <div class="col-7">
                                    <span class="small text-secondary">Already have an account?</span>
                                    <a href="#!/home" class="small">Login</a>
                                </div>
                                <div class="col-5 text-right">
                                    <button class="btn btn-primary btn-lg" ng-click="signUp()" tabindex="4">Register</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="../src/js/jquery.min.js"></script>
<script src="../src/js/popper.min.js"></script>
<script src="../src/js/bootstrap.min.js"></script>
<script src="../src/js/script.js"></script>

</html>